<div class="flower-card__group">
    <div class="flower-card">
        <div class="outline z--index"></div>
        <div class="solid z--index"></div>
        <img src="/image/flower/flower.jpg" alt="">
    </div>
    <div class="common-text__card">
        <img class="leaf" src="/image/leaf/leaf-2.png" alt="">
        <h1>We love what we do</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nisi odit fuga quibusdam, deserunt
            repellat
            officiis voluptatibus ullam facere beatae.</p>
        <button class="btn secondary--btn">read more</button>
    </div>
</div>