<footer class="footer">
    <div class="footer__group">
        <div class="footer__about">
            <section>
                <ul class="list">
                    <li>About</li>
                    <li>History</li>
                    <li>Our team</li>
                    <li>mission statement</li>
                    <li>Terms&Conditions</li>
                    <li>PrivacyPolicy</li>
                </ul>
            </section>
            <section>
                <ul class="list">
                    <li>What we do</li>
                    <li>News&Stories</li>
                    <li>Publications</li>
                    <li>Take action</li>
                    <li>Recommendations</li>
                    <li>Helps</li>
                </ul>
            </section>
            <section>
                <ul class="list third-list">
                    <li>Your Company</li>
                    <li>Halimum Street 25</li>
                    <li>Jakarta,City 1234</li>
                    <li>www.yourflowersite.com</li>
                </ul>
            </section>
        </div>
        <div class="footer__social">
            <ul class="list">
                <li>follow us!</li>
                <li><a href=""><span class="icon--circle">
                            <svg class="icon icon--white">
                                <use xlink:href="\image\social-svg\social-sprite.svg#facebook"></use>
                            </svg>
                        </span></a></li>
                <li><a href="">
                        <span class="icon--circle icon--white">
                            <svg class="icon">
                                <use xlink:href="\image\social-svg\social-sprite.svg#instagram-logo"></use>
                            </svg>
                        </span>
                    </a></li>
                <li><a href="">
                        <span class="icon--circle icon--white">
                            <svg class="icon">
                                <use xlink:href="\image\social-svg\social-sprite.svg#youtube"></use>
                            </svg>
                        </span>
                    </a></li>
            </ul>

        </div>
    </div>
</footer>