<div class="long-card">
    <div class="long-card__text">
        <h1>Flower Arrangements</h1>
        <p>. for all special occasions .</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, laboriosam beatae. Obcaecati nemo
            incidunt tenetur ullam laboriosam nam sequi distinctio est nisi ea cupiditate, voluptate</p>
        <div class="long-card__btn">
            <button class="btn primary--btn">shop</button>
            <a href="https://www.google.com">read more</a>
        </div>
    </div>
    <img class="long-card__image" src="/image/flower-owner.jpg" alt="">
</div>