<nav class="nav-bar">
    <ul class="list flex">
        <li><a href="">
                <span>
                    <svg class="icon icon--circle">
                        <use xlink:href="\image\nav-icon-svg\logo-flower.svg#logo-flower"></use>
                    </svg>
                </span>
            </a></li>
        <li><a href="">flower store</a></li>
    </ul>
    <ul class="list flex">
        <li><a href="">Home</a></li>
        <li><a href="">Service</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="" class="btn accent--btn">Sign in</a></li>
    </ul>
    <ul class="list flex">
        <li><a href=""><span class="icon--white">
                    <svg class="icon">
                        <use xlink:href="\image\nav-icon-svg\sprite.svg#user"></use>
                    </svg>
                </span></a></li>
        <li><a href=""><span class="icon--white">
                    <svg class="icon">
                        <use xlink:href="\image\nav-icon-svg\sprite.svg#shopping-bag"></use>
                    </svg>
                </span></a></li>
        <li><a href=""><span class="icon--white">
                    <svg class="icon">
                        <use xlink:href="\image\nav-icon-svg\sprite.svg#menu-bar"></use>
                    </svg>
                </span></a></li>
    </ul>
</nav>