<div class="stretch-card">
    <div class="stretch-card__discount">
        <img class="leaf left" src="./image/leaf/leaf.webp" alt="">
        <div class="stretch-card__text">
            <button class="btn secondary--btn">special offer</button>
            <span>20%</span>
            <p>Discount on your first purchase</p>
        </div>
        <img class="leaf right" src="./image/leaf/leaf.webp" alt="">
    </div>
    <img class="stretch-card__image" src="./image/flower/flower-landscape.jpg" alt="">
</div>